.about {
  margin: 40px;
  display: flex;
  flex-direction: column;

  &__h2 {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  &__img {
    align-self: center;
    margin-bottom: 20px;
  }

  &__p {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 769px) {

  .about{
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: repeat(3, 30%);
    &__img{
      grid-area: 1/2/4/2;
    }
    &__h2{
      grid-area: 1/3/1/3;
    }
    &__p{
      grid-area: 2/3/2/3;

      &--bottom{
        grid-area: 3/3/3/3;
      }
    }
  }


}
