.about {
    margin: 40px;
    display: flex;
    flex-direction: column;
  
    &__h2 {
      align-self: center;
      font-size: 2rem;
      margin-bottom: 30px;
    }
  
    &__img {
      align-self: center;
      margin-bottom: 20px;
    }
  
    &__p {
      margin-bottom: 10px;
    }
  }