@use "./variables" as *;

.footer{
    background-color: $color-light-blue;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link{
        text-decoration: none;
    }
    
    &__email{
        text-decoration: none;
        color: $color-white;
    }

}

@media screen and (min-width:769px) {
    .footer{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

}