@use "./variables" as *;

.header {
    display: none;
  }

@media screen and (min-width:992px) {
  .header{
    margin: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1frpx;

    &__h1{
      font-size: 1rem;
    }

    &__link{
      text-decoration: none;
      

      &--button{
        display: flex;
        justify-content: center;
        border: 2px solid $color-light-blue;
        padding: 10px 5px;
        color: $color-light-blue;
        text-decoration: none;
        border-radius: 10px;
      }
    }
  }
}