@use "./variables" as *;

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    *{
        max-width: 100%;
    }
    
    &__title{
        font-size: 2rem;
        
    }
    .card{
        margin: 40px;
        display: flex;
        flex-direction: column;
        &__title{
            &--project-title{
                font-size: 2rem;
                margin-bottom: 20px;
            }
        }
        &__text{
            margin-bottom: 20px;
        }
        &__link{
            padding: 10px 20px;
            border: 2px solid $color-light-blue;
            color: $color-light-blue;
            text-decoration: none;
            border-radius: 10px;
        }
    }
}

@media screen and (min-width:769px) {
    .project-cards{
        margin: 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}