.title {
  margin: 50px;
  display: flex;
  flex-direction: column;

  &__intro {
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 40px;
    font-size: 3.5rem;
    align-self: center;
  }
  &__img {
    display: none;
  }
}

@media screen and (min-width: 768px){
  .title{
    margin: 5rem;
    flex-direction: row;
    align-items: center;

    &__img{
      display: unset;
    }
  }
}
