@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Work+Sans&display=swap');

$font-title: "Work Sans", "sans-serif";
$font-main: "Merriweather", "sans-serif";

$color-black: black;
$color-white: white;