*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: none;
}

.title{
    margin: 50px;

    &__p{
        margin-bottom: 30px ;
    }
    &__h1{
        margin-bottom: 40px;
        font-size: 3.5rem;
    }
    &__img{
        display: none;
    }
}

.about{
    margin: 40px;
    display: flex;
    flex-direction: column;

    &__h2{
        align-self: center;
        font-size: 2rem;
        margin-bottom: 30px;
    }

    &__img{
        align-self: center;
        margin-bottom: 20px;
    }

    &__p{
        margin-bottom: 10px;
    }

}

.skills{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__p{
        margin: 45px;
    }
}

.skill{
    display: grid;
    grid-template-areas: 
    "image"
    "text";
    justify-content: space-evenly;
    

    &__img{
        grid-area: image;
    }

    &__h3{
        grid-area: text;
    }
}