@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Work+Sans&display=swap");
.header {
  display: none;
}

@media screen and (min-width: 769px) {
  .header {
    margin: 40px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  }
  .header__h1 {
    font-size: 1rem;
  }
  .header__link--button {
    border: 2px solid black;
    color: black;
    text-decoration: none;
    border-radius: 10px;
  }
}
.title {
  margin: 50px;
  display: flex;
  flex-direction: column;
}
.title__p {
  margin-bottom: 30px;
}
.title__h1 {
  margin-bottom: 40px;
  font-size: 3.5rem;
  align-self: center;
}
.title__img {
  display: none;
}

@media screen and (min-width: 769px) {
  .title {
    margin: 5rem;
    flex-direction: row;
    align-items: center;
  }
  .title__img {
    display: unset;
  }
}
.about {
  margin: 40px;
  display: flex;
  flex-direction: column;
}
.about__h2 {
  align-self: center;
  font-size: 2rem;
  margin-bottom: 30px;
}
.about__img {
  align-self: center;
  margin-bottom: 20px;
}
.about__p {
  margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
  .about {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: repeat(3, 30%);
  }
  .about__img {
    grid-area: 1/2/4/2;
  }
  .about__h2 {
    grid-area: 1/3/1/3;
  }
  .about__p {
    grid-area: 2/3/2/3;
  }
  .about__p--bottom {
    grid-area: 3/3/3/3;
  }
}
.skills {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__h2 {
  margin-bottom: 40px;
}
.skills__p {
  margin-bottom: 40px;
}

.skill-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.skill-cards .skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.skill-cards .skill-card__h3 {
  font-size: 1rem;
}

@media screen and (min-width: 769px) {
  .skills__p {
    max-width: 50%;
  }
  .skill-cards {
    grid-template-rows: unset;
    grid-template-columns: repeat(9, 1fr);
  }
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.project__h2 {
  font-size: 2rem;
}
.project .card {
  margin: 40px;
}
.project .card__h4--title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.project .card__p {
  margin-bottom: 20px;
}
.project .card__link {
  padding: 10px 20px;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

@media screen and (min-width: 769px) {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer {
  background-color: black;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__link {
  text-decoration: none;
}
.footer__email {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 769px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", "sans-serif";
  color: black;
}

p, a {
  font-family: "Merriweather", "sans-serif";
  color: black;
}/*# sourceMappingURL=main.css.map */