* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: none;
}

.title {
  margin: 50px;

  &__p {
    margin-bottom: 30px;
  }
  &__h1 {
    margin-bottom: 40px;
    font-size: 3.5rem;
  }
  &__img {
    display: none;
  }
}

.about {
  margin: 40px;
  display: flex;
  flex-direction: column;

  &__h2 {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  &__img {
    align-self: center;
    margin-bottom: 20px;
  }

  &__p {
    margin-bottom: 10px;
  }
}

.skills {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__h2{
    margin-bottom: 40px;
  }

  &__p{
    margin-bottom: 60px;
  }

  .skill-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

    .skill-card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.projects{

    .card{
        margin: 40px;

        &__h4{

            &--title{
                font-size: 2rem;
                margin-bottom: 20px;
            }
        }

        &__p{
            margin-bottom: 20px;
        }

        &__link{
            padding: 10px 20px;
            border: 2px solid black;
            text-decoration: none;
            border-radius: 10px;
        }
    }
}
