@use "../../assets/styles/variables" as *;

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  * {
    max-width: 100%;
  }

  &__title {
    font-size: 2rem;
    font-family: $font-title;
    color: $color-light-blue;
    margin-bottom: 40px;
  }
}

.project-cards {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .project-cards {
    .card {
      &__link {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .project-cards {
    margin: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;

    .card {
      display: flex;
      flex-direction: column;

      &__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      nav {
        margin-top: auto;
      }

      &__link {
        font-size: 0.9rem;
      }
    }
  }
}